.container {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
}

#sq4 {
    order: 3;
}

#sq5 {
    order: 2;
}

#sq6 {
    order: 1;
}

#sq7 {
    order: 4;
}

#sq8 {
    order: 5;
}

#sq9 {
    order: 6;
}